:root {
    /* custom color declarations */
    --dark-background: #0d1117;
    --navy-blue: #0e1724;
    --translucent-navy: #0e1724df;
    --indigo: #2f3045;
    --bright-aqua: #00ffffad;
    --dim-aqua: #00ffff75;
    --dim-gold: #dbce7899;
    --heading-blue: #1b2e49f8;
    --light-text: #c9d1d9;
    /* link click scaling amount  */
    --click-scaling: 1.02;
    /* html background color */
    background-color: var(--dark-background);
    
}
/* external heading font  */
@font-face {
    font-family: caslon-heading;
    src: url('fonts/ACaslonPro-Bold.otf');
}

/* external regular font */
@font-face {
    font-family: caslon-regular;
    src: url('fonts/ACaslonPro-Regular.otf');
}

/* global rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: var(--light-text);
    border-radius: 4px;
    text-decoration: none;
}

button {
    background-color: var(--bright-aqua);
    color: var(--navy-blue);
    border: none;
    padding: 4px;
    box-shadow: 1px 1px 2px var(--dim-aqua);
}

    button:hover {
        background-color: var(--indigo);
        color: var(--light-text);
    }

    button:active {
        transform: scale(var(--click-scaling));
    }

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: caslon-heading;
}

/*------------MAIN---------------*/

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    gap: 2ch;
}

/*------------HEADER-------------*/

main header {
    grid-column: 2/-1;
    border: medium solid var(--dim-gold);
    padding: 2%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2ch;
    align-items: center;
}
    /* row 1 */
    main header .row1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4ch;
    }

        /* box 1*/
        .box1 {
            display: flex;
            align-items: center;
            
        }
            header input {
                background-color: var(--bright-aqua);
                color: var(--navy-blue);
                border: none;
                margin-left: 2ch;
                flex:1;
            }

            input:hover, input:focus {
                outline: none;
                border: 1px solid var(--bright-aqua);
                background-color: var(--indigo);
                color: var(--light-text);
            }

        /* box 2 */
        .box2 {
            justify-self: end;
            display: grid;
            place-items: center;
        }

            header .row1 .box2 {
                display: flex;
                align-content: center;
            }
                header .row1 .img-box {
                    height: 10vh;
                    padding-left: 2ch;
                    /* background-image: url('images/greendale-logo.webp');
                    background-size: contain; */
                }

                .logo{
                    height: 100%;
                }
    
    /* row 2 */
    main header .row2 {
        display: flex;
        justify-content: space-between;
    }

/*------------CONTENT----------------*/

.content {
    background-color: var(--navy-blue);
    grid-column: 2/-1;
    grid-row: 2/3;
    padding: 2%;
    border: medium solid var(--indigo);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2ch;
}
    /* heading styling for all cards */
    .card h4 {
            background-color: var(--dim-gold);
            color: var(--navy-blue);
            padding: 1ch;
            height: fit-content;
    }
    /* grid 1 */
    .grid1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2ch;
    }

        .grid1 .card {
            border-left: thick solid var(--bright-aqua);
            border-top: thick solid var(--bright-aqua);
            box-shadow: 1px 1px 2px var(--dim-aqua);
            display: flex;
            flex-direction: column;
        }

            .grid1 .card p {
                background-color: var(--dark-background);
                padding: 1ch;
                flex: 1;
            }

                .grid1 .card strong {
                    color: var(--bright-aqua);
                }

        
    
    /* grid 2 */
    .grid2 {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 2ch;
    }
        .grid2 .card {
            background-color: var(--dark-background);
            box-shadow: 1px 1px 2px var(--dim-gold);
        }
            .dean-shot {
                height: 20vh;
                padding: 2ch 0;
                display: flex;
                justify-content: center;
            }

                .dean-shot img {
                    height: 100%;
                    
                }

            .grid2 .card ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 80%;
            }

                .grid2 .card ul li{
                    border-left: thin solid var(--dim-gold);
                    border-bottom: thin solid var(--dim-gold);
                    padding: 1ch;
                }
    .card {
        padding: 2ch;
        overflow: auto;
    }


    h4 {
        padding-bottom: 2ch;
    }
/* ------------SIDEBAR----------------*/
.sidebar {
    background-image: url(images/greendale-poster.webp);
    background-size: contain;
    background-color: var(--indigo);
    grid-row: 1/-1;
    padding: 5%;
    border: medium solid var(--dim-aqua);
    display: flex;
    flex-direction: column;
}

    .sidebar nav{
        background-color: var(--translucent-navy);
        border: thin solid var(--dim-aqua);
        padding: 5%;
        flex: 1;
        /* height: 50%; */
        overflow: auto;
    }

        .sidebar h3 {
            border-left: thin solid var(--dim-aqua);
            border-bottom: thin solid var(--dim-aqua);
            padding: 2%;
            margin-bottom: 4ch;
        }

        .sidebar ul {
            display: grid;
            gap: 2ch;
        }

            .sidebar .links li {
                border-left: thin solid var(--dim-gold);
                border-bottom: thin solid var(--dim-gold);
                padding: 2%;
                box-shadow: 0px 2px 2px var(--indigo);
            }

            .sidebar .links li:hover {
                border-left: 1px solid var(--bright-aqua);
                border-bottom: 1px solid var(--bright-aqua);
                background-color: var(--indigo);
            }

            .sidebar .links li:active{
                transform: scale(var(--click-scaling));
            }
    
