:root {
    /* custom color declarations */
    --dark-background: #0d1117;
    --navy-blue: #0e1724;
    --translucent-navy: #0e1724df;
    --indigo: #2f3045;
    --bright-aqua: #00ffffad;
    --dim-aqua: #00ffff75;
    --dim-gold: #dbce7899;
    --heading-blue: #1b2e49f8;
    --light-text: #c9d1d9;
    /* link click scaling amount  */
    --click-scaling: 1.02;
    /* html background color */
    background-color: var(--dark-background);
    
}
/* external heading font  */
@font-face {
    font-family: caslon-heading;
    src: url('fonts/ACaslonPro-Bold.otf');
}

/* external regular font */
@font-face {
    font-family: caslon-regular;
    src: url('fonts/ACaslonPro-Regular.otf');
}

/* global rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: var(--light-text);
    border-radius: 4px;
    text-decoration: none;
}

button {
    background-color: var(--bright-aqua);
    color: var(--navy-blue);
    border: none;
    padding: 4px;
    box-shadow: 1px 1px 2px var(--dim-aqua);
}

    button:hover {
        background-color: var(--indigo);
        color: var(--light-text);
        border: thin solid var(--bright-aqua);
    }

    button:active {
        transform: scale(var(--click-scaling));
    }

/*------------MAIN---------------*/

main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    gap: 2ch;
}

/*------------HEADER-------------*/

main header {
    grid-column: 2/-1;
    border: medium solid var(--dim-gold);
    padding: 2%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 4ch;
    align-items: center;
}
    /* row 1 */
    main header .row1 {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

        /* box 1*/
            header input {
                background-color: var(--bright-aqua);
                color: var(--navy-blue);
                border: none;
            }

            input:hover, input:focus {
                outline: none;
                border: 1px solid var(--bright-aqua);
                background-color: var(--indigo);
                color: var(--light-text);
            }

        /* box 2 */
        main header .row1 .box2 {
            display: flex;
            align-content: center;
        }
            main header .row1 .img-box {
                height: 35px;
                width: 35px;
                background-image: url('images/greendale-logo.webp');
                background-size: contain;
            }

            .logo{
                height: 100%;
                width: 100%;
            }

    /* row 2 */
    main header .row2 {
        display: flex;
        justify-content: space-between;
    }

        /* .header-btns {
            display: flex;
            justify-content: space-between;
        } */


/*------------CONTENT----------------*/

.content {
    background-color: var(--navy-blue);
    grid-column: 2/-1;
    grid-row: 2/3;
    padding: 2%;
    border: medium solid var(--indigo);
}

/* ------------SIDEBAR----------------*/
.sidebar {
    background-image: url(images/greendale-poster.webp);
    background-size: contain;
    background-color: var(--indigo);
    grid-row: 1/-1;
    padding: 5%;
    border: medium solid var(--dim-aqua);
}

    .sidebar nav{
        background-color: var(--translucent-navy);
        border: thin solid var(--dim-aqua);
        padding: 5%;
        height: 50%;
        overflow: auto;
    }

        .sidebar h3 {
            font-family: caslon-heading;
            border-left: thin solid var(--dim-aqua);
            border-bottom: thin solid var(--dim-aqua);
            padding: 2%;
        }

        .sidebar .links {
            list-style-type: none;
            display: grid;
            gap: 2px;
            /* min-height: 80%; */
            align-content: stretch;
        }

        .sidebar .links li {
            border-left: thin solid var(--dim-gold);
            border-bottom: thin solid var(--dim-gold);
            padding: 2%;
            box-shadow: 0px 2px 2px var(--indigo);
        }

        .sidebar .links li:hover {
            border: 1px solid var(--bright-aqua);
            background-color: var(--indigo);
        }

        .sidebar .links li:active{
            transform: scale(var(--click-scaling));
        }
    
